{% extends "vodkamartiniquiz/base_quiz.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }} quiz-question-form{% endblock %}

{% block content %}
{% load url from future %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>URL: {% url 'vodkamartiniquiz_question_detail' slug=quiz_slug pk=pk %}</h1>

<form action="{% url 'vodkamartiniquiz_question_detail' slug=quiz_slug pk=pk %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add" />
</form>
<p><a href="{% url 'vodkamartiniquiz_quiz_home' %}">back to quizzes home</a></p>

{% endblock %}
