{% extends "vodkamartiniquiz/base_quiz.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }} quiz-home{% endblock %}

{% block content %}
{% load url from future %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>Quizzes</h1>

{% for object in object_list %}
    <p><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></p>
{% endfor %}

<div id="box">
    <p>this is a paragraph inside the box</p>
    <div>and this a div inside the box</div>
</div>

{% endblock content %}
