{% extends "vodkamartiniquiz/base_quiz.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }} quizzes-home{% endblock %}

{% block content %}
{% load url from future %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>quiz home</h1>
{% if slug %}
    <h2>slug {{ slug }}</h2>
{% endif %}
{% for object in object_list %}
    <p>{{ object }}</p>
{% endfor %}
{% endblock %}
