@import "variables";
@import "mixins";

.quiz #content {
    padding: $padding_default;
}

.quiz-home {
    h1 {
        font-size: $font_size_super_big;
        color: $color_primary;
        font-family: $font_family_heading;
        margin-bottom: $margin_vertical;
    }

    #box {
        padding: $padding_default;
        border: 1px solid $color_primary;
        p {
            border: 1px solid $color_fg_1;
            font-size: $font_size_big;
            padding: $padding_default;
        }
        div {
            background-color: $color_main_bg;
            border: 1px solid darken($color_main_bg, 20%);
            padding: $padding_default;
        }
    }
}

h2 {
    @include pink_medium_text;
    color: $color_secondary;
}
