.quiz #content {
  padding: 10px;
}

.quiz-home h1 {
  font-size: 36px;
  color: #ae0d55;
  font-family: "Oswald", Arial, sans-serif;
  margin-bottom: 20px;
}
.quiz-home #box {
  padding: 10px;
}
.quiz-home #box p {
  border: 1px solid #4a4a4a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
}
.quiz-home #box div {
  background-color: #f2f2f2;
  border: 1px solid #bfbfbf;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #branding .star,
  #branding #head-promo,
  #branding #tango-newsletter-form {
    display: none;
  }
}
@media only screen and (max-device-width: 720px) and (orientation: portrait) {
  #branding .star,
  #branding #head-promo,
  #branding #tango-newsletter-form {
    display: none;
  }
}
@media only screen and (max-device-width: 1280px) and (orientation: landscape) {
  #branding .star,
  #branding #head-promo,
  #branding #tango-newsletter-form {
    display: none;
  }
}
